<script>
$(document).ready(function() {
  const setModal = function(html) {
  const $modal = $('#modal')
  const $modalContent = $modal.find('.modal-content')

  $modal.modal('show')
  $modalContent.html(html)
  }

  $('#edit-group').on('click', '#update-form-submit', function(e) {
    console.log('hi')
    e.preventDefault()
    const $elem = $(e.target)
    const url = $elem.data('url')
    const method = $elem.data('method')
    const formData = new FormData($('#property-update-form')[0])
    $elem.attr('disabled', true)



    axios({ method, url, data: formData }).then(function (resp) {
      setModal(resp.data)
    })
  })
})
</script>

<h2>Edit Own Property</h2>

<div id="edit-group">
  <%- include('../_partials/form-update') %>
  <button id="update-form-submit" type="submit" class="btn btn-success" data-url="/api/ownproperty/<%= property.id %>" data-method="PUT">Submit</button>
</div>


<%- include('../../_partials/modal') %>
